<div class="container" role="main">
	<div class="userStart">
		<div class="userStart-header">
			<div class="header-cont">
				<div class="col-10 pl-4 pr-0">
					<h4 class="text-center">w<b>Y</b>ne</h4>
				</div>
				<div class="col-2 p-0">
					<button type="button" class="btn close float-right">x</button>
				</div>
			</div>
		</div>
		<div class="userStart-body">
			<p class="buildProfile">Build a profile and get great recommendations!</p><br>
			<div class="quiz-btn">
				<button type="button" class="btn btn-danger p-1 pr-5 pl-5">
					Start Quiz
				</button>
			</div>
			<p class="text-center"><a class="backToMenu" data-dismiss="modal">No thanks, just the menu</a></p>
		</div>
		<div class="userStart-footer">
			<div class="acceptCookies mr-auto">
				<div class="form-check">
					<label class="form-check-label">
						<input type="checkbox" class="form-check-input" value="">Accept Cookies
					</label>
				</div>
				<p>This site uses cookies to preserve your personal palate profile. <a href="https://www.google.com/" class="readMore">Read more..</a></p>
			</div>
			<div class="privacyPolicy ml-auto">
				<a class="privacyLink" href="https://policymaker.io/privacy-policy/?gclid=CjwKCAjwnef6BRAgEiwAgv8mQUmWzosSlieOnb5YO1GCNmz-UVo1jFdx2wnQpRtybYx8C8p7d5Yg6hoCmxYQAvD_BwE">View our Privacy Policy</a>
			</div>
		</div>
	</div>
</div>

<router-outlet></router-outlet>